* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.top-bar {
  width: 100%;
  max-width: 100vw;
  height: 44px;
}

.slideshow--container {
  width: 1200px;
  max-width: 100vw;
  height: 44px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.banner-list {
  width: max-content;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s;
}

.banner img {
  width: 1200px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  width: 96%;
  position: relative;
  top: 28%;
  left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid gray;
  border-left: 3px solid gray;
}

.next-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid gray;
  border-right: 3px solid gray;
}

.prev-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
}

.next-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
}

/* TOP-NAV */

.header {
  width: 100vw;
  height: 134px;
  background-color: #f2c900;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.header__top {
  width: 1200px;
  height: 50px;
  margin: auto;
  background-color: #f2c900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__top img {
  width: 228px;
  height: 40px;
}

.search-box {
  width: 301px;
  height: 40px;
  border-radius: 7px;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 260px;
  border: none;
}

.search-box i {
  font-size: 20px;
}

.cart {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  position: relative;
}

.cart > button {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  border: none;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.cart > i {
  background-color: #f2b206;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 20px;
}

.tech-QA-game {
  width: 248px;
  height: 40px;
  display: flex;
  align-items: center;
}

#tech {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

#QA {
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-left: 1px solid whitesmoke;
  border-right: 1.5px solid whitesmoke;
}

#GameAPP {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

.header__top > button {
  width: 96px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f2b206;
}

.inventory {
  width: 137px;
  height: 38px;
  background-color: #f2b206;
  position: relative;
  border-radius: 5px;
  padding: 3px 9px 5px 5px;
}

.inventory > i {
  position: absolute;
  top: 7px;
  right: 9px;
  font-size: 15px;
}

.inventory button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f2b206;
  text-align: left;
  font-size: 12px;
}

.header__main {
  width: 1200px;
  height: 64px;
  margin: auto;
  background-color: #f2c900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.header__main a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.header__main a > i {
  margin-right: 5px;
}

.header__main a > .fa-sort-down {
  margin-left: 5px;
}
