* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9ea89;
}

.top-bar {
  width: 100%;
  max-width: 100vw;
  height: 44px;
}

.slideshow--container {
  width: 1200px;
  max-width: 100vw;
  height: 44px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.banner-list {
  width: max-content;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s;
}

.banner img {
  width: 1200px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  width: 96%;
  position: relative;
  top: 28%;
  left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid gray;
  border-left: 3px solid gray;
}

.next-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid gray;
  border-right: 3px solid gray;
}

.prev-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
}

.next-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
}

/* TOP-NAV */

.header {
  width: 100vw;
  height: 114px;
  background-color: #ffd400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.header__top {
  width: 1200px;
  height: 50px;
  margin: 10px auto;
  background-color: #ffd400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__top img {
  width: 228px;
  height: 40px;
}

.search-box {
  width: 301px;
  height: 40px;
  border-radius: 7px;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 260px;
  border: none;
}

.search-box i {
  font-size: 20px;
}

.cart {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  position: relative;
}

.cart > button {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  border: none;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.cart > i {
  background-color: #f2b206;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 20px;
}

.tech-QA-game {
  width: 248px;
  height: 40px;
  display: flex;
  align-items: center;
}

#tech {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

#QA {
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-left: 1px solid whitesmoke;
  border-right: 1.5px solid whitesmoke;
}

#GameAPP {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

.header__top > button {
  width: 96px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f2b206;
}

.inventory {
  width: 137px;
  height: 38px;
  background-color: #f2b206;
  position: relative;
  border-radius: 5px;
  padding: 3px 9px 5px 5px;
}

.inventory > i {
  position: absolute;
  top: 7px;
  right: 9px;
  font-size: 15px;
}

.inventory button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f2b206;
  text-align: left;
  font-size: 12px;
}

.header__main {
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  background-color: #ffd400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.header__main a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.header__main a > i {
  margin-right: 5px;
}

.header__main a > .fa-sort-down {
  margin-left: 5px;
}

.PC-printer {
  position: relative;
}

.PC-printer__list {
  /* width: 155px;
  height: 130px; */
  display: none;
}

.PC-printer__list-up-arrow {
  width: 100%;
  height: 10px;
  position: relative;
}

.up-arrow {
  position: absolute;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: #f3f3f3;
  top: 3px;
  left: 20%;
}

.PC-printer__list-item {
  width: 100%;
  height: 120px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.PC-printer:hover > .PC-printer__list {
  width: 155px;
  height: 150px;
  /* background-color: #10dd40; */
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
/* .PC-printer__list::before {

} */

/* MAIN */
.left-banner {
  position: fixed;
  left: 63px;
  top: 240px;
}

.right-banner {
  position: fixed;
  right: 63px;
  top: 240px;
}

.big-banner--container-fluid {
  width: 100%;
  height: 450px;
}

.big-banner--container-fluid img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.optional-promotion {
  width: 1200px;
  height: 100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optional-promotion a {
  width: 285px;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #f1f1f1;
  line-height: 30px;
  font-size: 22px;
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optional-promotion img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  object-fit: cover;
}

.top3-banner {
  display: block;
  width: 1200px;
  height: 100px;
  margin: 30px auto;
  border-radius: 15px;
}

.top3-banner img {
  width: 1200px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

/*XU HƯỚNG MUA SẮM */
.shopping-trends {
  width: 1200px;
  height: 332px;
  margin: 30px auto;
  background-color: #feccb4;
  border-radius: 15px;
}

.shopping-trends > p {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  padding: 20px 0 20px 20px;
}

.shopping-trends__types {
  display: flex;
  justify-content: space-around;
}

.shopping-trends__image {
  width: 280px;
  height: 236px;
  position: relative;
}

.shopping-trends__image > img {
  border-radius: 10px;
}

.shopping-trends__name {
  position: absolute;
  bottom: 52px;
  left: 20px;
  font-size: 18px;
  color: #333;
}

.shopping-trends__price {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 15px;
  color: #5757ed;
}

.featured-category {
  width: 1200px;
  height: 338px;
  background-color: white;
  border-radius: 20px;
  margin: 50px auto;
  padding: 66px 40px 30px 40px;
  position: relative;
  display: grid;
  grid-template-columns: 112px 112px 112px 112px 112px 112px 112px 112px 112px 112px;
  grid-template-rows: 124px 124px;
}

.featured-category > span {
  position: absolute;
  top: 20px;
  left: 20px;
  /* background-color: aqua; */
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.featured-category > a {
  /* background-color: aliceblue; */
  width: 112px;
  height: 124px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: center;
}

.featured-category > a > img {
  width: 60px;
  height: 60px;
}

/* KHUYẾN MÃI CHỈ CÓ TRÊN ONLINE */
.only-online-promotion {
  width: 1200px;
  height: 201px;
  margin: 30px auto;
}

.only-online-promotion p {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 5px;
}

.only-online-promotion img {
  width: 1200px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

/* DỊCH VỤ TIỆN ÍCH */

.convenient-service {
  width: 1200px;
  height: 242px;
  margin: 20px auto;
  /* padding: ; */
  background-color: #f1f1f1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.convenient-service__texts {
  height: 66px;
  /* margin-top: 20px; */
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: chartreuse; */
}

.convenient-service__texts a {
  text-decoration: none;
}

.convenient-service__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.convenient-service__others {
  font-size: 17px;
  text-transform: uppercase;
  color: #535050;
}

.convenient-service__list {
  padding: 0px 20px;
  height: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
}

.convenient-service__list a {
  text-decoration: none;
}

.convenient-service__card {
  width: 280px;
  height: 146px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #feccb4;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 38px 210px;
  grid-template-rows: 38px 90px;
  column-gap: 10px;
  grid-template-areas:
    "r1c1 r1c2"
    "r2c1 r2c2";
}

#convenient-service__card-1 {
  background-color: #dceeff;
}

#convenient-service__card-2 {
  background-color: #fef5cf;
}

#convenient-service__card-3 {
  background-color: #ffefdb;
}

#convenient-service__card-4 {
  background-color: #e1fecf;
}

.convenient-service__icon-background {
  width: 38px;
  height: 38px;
  /* background-color: #f1f1f1; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-card-icon-1 {
  background-color: #c9e6fc;
}
#background-card-icon-2 {
  background-color: #feefbc;
}
#background-card-icon-3 {
  background-color: #ffe2cf;
}
#background-card-icon-4 {
  background-color: #d9fac3;
}

.convenient-service__card i {
  /* width: 38px;
  height: 38px; */
  /* border-radius: 50%; */
  font-size: 20px;
  /* text-align: center; */
  line-height: 38px;
  margin: 0px auto;
}

.convenient-service__card p {
  font-size: 18px;
  color: #333;
  text-align: left;
  /* letter-spacing: 0.1px; */
  /* word-spacing: px; */
}
.card__icon {
  /* background-color: aliceblue; */

  grid-area: r1c1;
  border-radius: 50%;
  /* background-color: #f3f3f3; */
}

.card__title {
  /* font-size: 15px; */
  grid-area: r1c2;
  line-height: 38px;
}

.card__info {
  width: 100%;
  /* font-size: 15px; */
  grid-area: r2c2;
  padding-top: 8px;
  line-height: 25px;
}

/* GỢI Ý HÔM NAY */
.today-suggestion {
  width: 1200px;
  height: 2150px;
  margin: 20px auto;
  /* background-color: aqua; */
  /* position: relative; */
}

.today-suggestion > p {
  font-size: 22px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.today-suggestion__types {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-suggestion__types a {
  width: 285px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-suggestion__types a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.today-suggestion__types a:hover {
  background-color: #feb70b;
}

.today-suggestion__laptop-list {
  width: 1200px;
  height: 1952px;
  margin-top: 15px;
  /* background-color: chartreuse; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16.25px;
  /* grid-template-rows: repeat(4, 1rf); */
  row-gap: 16px;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.today-suggestion__laptop-card {
  width: 227px;
  height: 476px;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
}

.today-suggestion__laptop-card > a {
  text-decoration: none;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.today-suggestion__laptop-card > a > p {
  height: 18px;
}

.installment {
  width: 62px;
  height: 18px;
  font-size: 10px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 5px;
}

.laptop-card__img {
  margin-top: 50px;
  margin-bottom: 47px;
  width: 207px;
  height: 138px;
  /* position: absolute; */
  /* top: 78px;
  right: 0px; */
}

.laptop-card__label {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 70px;
  right: 10px;
}

.discount-tag {
  width: 113px;
  height: 20px;
  margin-bottom: 10px;
  /* padding: 0 auto; */
  padding-right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #faab08, #d42611);
  align-items: center;
}

.discount-tag img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.discount-tag p {
  color: #f3f3f3;
  font-weight: 400;
}

.laptop-name {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.sell-method,
.gift {
  font-size: 14px;
  color: #757474;
  margin-bottom: 15px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #c01313;
  margin-bottom: 15px;
}

.price span {
  margin-left: 10px;
  /* padding: 0 10px; */
  color: #df6161;
  background-color: #fff0e9;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.start {
  font-size: 14px;
  color: #fb6e31;
  font-weight: bold;
}

.today-suggestion button {
  width: 340px;
  height: 48px;
  margin: 15px auto;
  font-size: 16px;
  background-color: #ffffff;
  color: #494949;
  border-radius: 5px;
  border: none;
  display: block;
  /* position: absolute;
  bottom: 100px;
  left: -50%;
  transform: translateX(-50%); */
  /* text-align: center; */
}

/* 24H CÔNG NGHỆ */
.technology-24h {
  width: 1200px;
  height: 350px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.technology-24h--main {
  width: 895px;
  height: 350px;
  padding: 0px 20px;
  background-color: #f3f3f3;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: start; */
}

.technology-24h--top {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.technology-24h--top p {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.technology-24h--top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #535050;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.technology-24h__content {
  width: 100%;
  height: 230px;
  margin-top: 15px;

  display: flex;
  /* padding-top: 5px; */
  justify-content: space-between;
  align-items: center;
}

.technology-24h__content a {
  text-decoration: none;
  width: 280px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.technology-24h__content a img {
  width: 100%;
  height: 158px;
  border-radius: 10px;
  /* padding-bottom: 10px; */
}

.technology-24h__content a p {
  width: 100%;
  height: 52px;
  font-size: 16px;
  padding-top: 12px;
  /* text-align: center; */
  line-height: 25px;
  color: #494949;
}

.technology-24h--extra img {
  width: 285px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

/* CHUYÊN TRANG THƯƠNG HIỆU */
.brand-page {
  width: 1200px;
  height: 263px;
  margin: 20px auto;
}

.brand-page p {
  font-size: 22px;
  padding: 10px 0 15px 0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.brand-page__slider {
  width: 100%;
  height: 212px;
  position: relative;
}

.brand-page__banner {
  width: 100%;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.brand-page__banner img {
  width: 393px;
  height: 212px;
  margin-left: 0px;
  margin-right: 10.5px;
  border-radius: 15px;
}

.brand-page__button {
  width: 1244px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  /* left: -5%; */
  /* z-index: 100; */
}

.brand-page__button button {
  width: 44px;
  height: 44px;
  background-color: #f3f3f3;
  border-radius: 50%;
  color: #333;
  font-size: 20px;
}

/* TÌM KIẾM NHIỀU */

.most-searched-tags {
  width: 1200px;
  height: 147px;
  margin: 20px auto 20px auto;
}

.most-searched-tags p {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.searched-tags__name {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.searched-tags__name > a {
  padding: 0 5px;
  line-height: 30px;
  background-color: #f3f3f3;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
}

/* FOOTER */

footer {
  width: 100vw;
  background-color: white;
  margin-bottom: 0;
}

.footer--container {
  width: 1200px;
  height: 516px;
  background-color: white;
  margin: 0 auto;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 288px 228px 336px 348px;
}

.footer--container a {
  text-decoration: none;
  color: black;
}

.policy {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.company {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.contact {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.contact span a {
  color: blue;
  font-weight: bold;
}

.corporate-promotion {
  width: 348px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.corporate-promotion > span {
  font-size: 14px;
}

.social-channel {
  width: 100%;
  height: 18px;
  margin-bottom: 10px;
  background-color: white;
  display: grid;
  font-size: 14px;
  grid-template-columns: 109px 116px 92px;
  align-items: center;
}

.social-channel a > i {
  margin-right: 4px;
}

.social-channel img {
  margin-right: 2px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

#fb-TGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

#youtube-TGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

#zaloTGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

.business-license {
  width: 100%;
  height: 39px;
  margin-bottom: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 105px 25px 122px 85px;
  column-gap: 3px;
}

#footer1 {
  width: 105px;
  height: 34px;
  object-fit: cover;
}

#footer2 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

#footer3 {
  width: 122px;
  height: 24px;
  object-fit: cover;
}

#footer4 {
  width: 85px;
  height: 35px;
  object-fit: cover;
}

.subsidiaries {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.subsidiaries > a {
  width: 80px;
  height: 24px;
}

.subsidiaries > a > img {
  width: 80px;
  height: 24px;
}

.footer--container-fluid {
  width: 100vw;
  background-color: #f1f1f1;
}

.summary-TGDD {
  width: 1200px;
  height: 84px;
  background-color: #f1f1f1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.summary-TGDD p {
  margin: 15px 0 15px 0;
  height: 54px;
  font-size: 12px;
  line-height: 20px;
}

.summary-TGDD p a {
  text-decoration: none;
}
