* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9ea89;
}

.top-bar {
  width: 100%;
  max-width: 100vw;
  height: 44px;
}

.slideshow--container {
  width: 1200px;
  max-width: 100vw;
  height: 44px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.banner-list {
  width: max-content;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2s;
}

.banner img {
  width: 1200px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slide-button {
  width: 96%;
  position: relative;
  top: 28%;
  left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid gray;
  border-left: 3px solid gray;
}

.next-btn {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid gray;
  border-right: 3px solid gray;
}

.prev-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
}

.next-btn:hover {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-top: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
}

/* TOP-NAV */

.header {
  width: 100vw;
  height: 114px;
  background-color: #ffd400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.header__top {
  width: 1200px;
  height: 50px;
  margin: 10px auto;
  background-color: #ffd400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__top img {
  width: 228px;
  height: 40px;
}

.search-box {
  width: 301px;
  height: 40px;
  border-radius: 7px;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 260px;
  border: none;
}

.search-box i {
  font-size: 20px;
}

.cart {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  position: relative;
}

.cart > button {
  width: 112px;
  height: 40px;
  background-color: #f2b206;
  border-radius: 8px;
  border: none;
  text-align: right;
  padding: 10px;
  font-weight: bold;
}

.cart > i {
  background-color: #f2b206;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 20px;
}

.tech-QA-game {
  width: 248px;
  height: 40px;
  display: flex;
  align-items: center;
}

#tech {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

#QA {
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-left: 1px solid whitesmoke;
  border-right: 1.5px solid whitesmoke;
}

#GameAPP {
  width: 93px;
  height: auto;
  text-align: center;
  font-size: 15px;
}

.header__top > button {
  width: 96px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f2b206;
}

.inventory {
  width: 137px;
  height: 38px;
  background-color: #f2b206;
  position: relative;
  border-radius: 5px;
  padding: 3px 9px 5px 5px;
}

.inventory > i {
  position: absolute;
  top: 7px;
  right: 9px;
  font-size: 15px;
}

.inventory button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #f2b206;
  text-align: left;
  font-size: 12px;
}

.header__main {
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  background-color: #ffd400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.header__main a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.header__main a > i {
  margin-right: 5px;
}

.header__main a > .fa-sort-down {
  margin-left: 5px;
}

.PC-printer {
  position: relative;
}

.PC-printer__list {
  width: 160px;
  height: 150px;
  background-color: #f1f1f1;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 0px 10px 10px;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.big-banner--container-fluid {
  width: 100%;
  height: 450px;
}

.big-banner--container-fluid img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* height: auto; */
  object-fit: cover;
}

.featured-category {
  width: 1200px;
  height: 338px;
  background-color: white;
  border-radius: 20px;
  margin: 50px auto;
  padding: 66px 40px 30px 40px;
  position: relative;
  display: grid;
  grid-template-columns: 112px 112px 112px 112px 112px 112px 112px 112px 112px 112px;
  grid-template-rows: 124px 124px;
}

.featured-category > span {
  position: absolute;
  top: 20px;
  left: 20px;
  /* background-color: aqua; */
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.featured-category > a {
  /* background-color: aliceblue; */
  width: 112px;
  height: 124px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-align: center;
}

.featured-category > a > img {
  width: 60px;
  height: 60px;
}

footer {
  width: 100vw;
  background-color: white;
  margin-bottom: 0;
}

.footer--container {
  width: 1200px;
  height: 516px;
  background-color: white;
  margin: 50px auto 0 auto;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 288px 228px 336px 348px;
}

.footer--container a {
  text-decoration: none;
  color: black;
}

.policy {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.company {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.contact {
  background-color: white;
  font-size: 15px;
  color: black;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
}

.contact span a {
  color: blue;
  font-weight: bold;
}

.corporate-promotion {
  width: 348px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.corporate-promotion > span {
  font-size: 14px;
}

.social-channel {
  width: 100%;
  height: 18px;
  margin-bottom: 10px;
  background-color: white;
  display: grid;
  font-size: 14px;
  grid-template-columns: 109px 116px 92px;
  align-items: center;
}

.social-channel a > i {
  margin-right: 4px;
}

.social-channel img {
  margin-right: 2px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

#fb-TGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

#youtube-TGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

#zaloTGDD {
  display: flex;
  color: blue;
  justify-content: center;
}

.business-license {
  width: 100%;
  height: 39px;
  margin-bottom: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: 105px 25px 122px 85px;
  column-gap: 3px;
}

#footer1 {
  width: 105px;
  height: 34px;
  object-fit: cover;
}

#footer2 {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

#footer3 {
  width: 122px;
  height: 24px;
  object-fit: cover;
}

#footer4 {
  width: 85px;
  height: 35px;
  object-fit: cover;
}

.subsidiaries {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

.subsidiaries > a {
  width: 80px;
  height: 24px;
}

.subsidiaries > a > img {
  width: 80px;
  height: 24px;
}

.footer--container-fluid {
  width: 100vw;
  background-color: #f1f1f1;
}

.summary-TGDD {
  width: 1200px;
  height: 84px;
  background-color: #f1f1f1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
}

.summary-TGDD p {
  margin: 15px 0 15px 0;
  height: 54px;
  font-size: 12px;
  line-height: 20px;
}

.summary-TGDD p a {
  text-decoration: none;
}
