.menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.menu-box span {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin-right: 5px;
}

.menu-box p {
  margin-left: 5px;
  font-size: 16px;
}
