@media only screen and (max-width: 575px) {
  header {
    width: 100%;
    height: 20vh;
  }

  .top-header {
    width: 100%;
    height: 29%;
    background-color: chartreuse;
  }

  .main-header {
    width: 100%;
    height: 71%;
    background-color: gold;
  }

  .container {
    width: 100%;
  }

  .banner--on-desktop {
    display: none;
  }

  .banner--on-mobile {
    display: block;
    min-width: 100%;
    height: 100%;
  }

  .banner--on-mobile a {
    display: block;
    height: 100%;
  }

  .banner--on-mobile img {
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
  }

  .slideshow__slide-index-signs {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
  }

  .slideshow__slide-index-signs span {
    display: inline-block;
    min-width: 15px;
    min-height: 5px;
    background-color: #5909db;
    border-radius: 5px;
  }

  .main-header-mobile__row-1 {
    width: 100%;
    height: 40%;
    padding: 2px 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
  }

  .main-header__logo {
    width: 10%;
    height: 100%;
  }

  .main-header__logo a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
  }

  .main-header__logo a > img {
    height: 80%;
    width: auto;
    object-fit: cover;
  }

  .main-header-mobile__inventory {
    width: 20vw;
    display: inline-flex;
    background-color: initial;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    text-decoration: none;
    color: #000;
  }

  .main-header-mobile__inventory i {
    font-size: 10px;
    margin-right: 5px;
  }

  .main-header__order-account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 11px;
    text-decoration: none;
    color: #333;
  }

  .main-header__cart {
    width: 15vw;
    padding: 0 7vw;
  }
  .main-header__cart > i {
    font-size: 6vw;
  }

  .main-header__menu {
    width: 8vw;
  }

  .main-header__menu > p {
    font-size: 2.4vw;
  }

  .main-header-mobile__row-3 {
    width: 100%;
    height: 30%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header-mobile__row-3 a {
    display: inline-block;
    /* width: 15%; */
    padding: 12px 0;
    white-space: nowrap;
    /* width: 18%; */
    text-decoration: none;
    font-size: 11px;
    color: #000;
    margin-right: 0;
  }

  .navigation-menu__content {
    width: 92%;
    margin: 0 auto;
  }

  main {
    width: 100%;
    margin: 0;
  }
  .main__top-biggest-banner {
    position: relative;
    width: 100%;
    /* aspect-ratio: auto 640 / 920; */
    /* min-height: 1000px; */
    height: fit-content;
    z-index: 90;
  }

  .main__top-biggest-banner--background {
    width: 100%;
    /* height: 100%; */
  }

  .main__top-biggest-banner a.main__top-biggest-banner--desktop {
    display: none;
  }

  .main__top-biggest-banner a.main__top-biggest-banner--mobile {
    display: block;
    width: 100%;
    height: fit-content;
  }

  .main__top-biggest-banner a.main__top-biggest-banner--mobile img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .top-banner-slideshow--positioned {
    position: absolute;
    bottom: 25%;
    left: 0%;
    transform: translateX(2%);
    width: 96%;
    height: 22%;
    border-radius: 5px;
  }

  .top-banner-slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: aqua; */
  }

  .top-banner-slideshow__banners {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 0%;

    transition: all 1.5s;
  }

  .top-banner-slideshow__banners a {
    display: block;
    min-width: 100%;
    height: 100%;
  }

  .top-banner-slideshow__banners a img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
  }

  .top-banner-slideshow__buttons--moved {
    display: none;
  }

  .optional-promotion {
    position: absolute;
    bottom: 2%;
    left: 0%;
    transform: translateX(2%);
    width: 96%;
    height: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 5px;
  }

  .optional-promotion div {
    width: 0.2%;
    height: 70%;
    background-color: #cbc1c1;
  }

  .optional-promotion a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    flex: 1;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    background-color: #f3f3f3;
    border-radius: 10px;
  }

  .optional-promotion a img {
    height: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-right: 0;
  }
  .optional-promotion a p {
    text-align: center;
    font-size: 11px;
    color: #222222;
  }

  /* FLASH SALE */
  .flash-sale__timeline {
    height: 15%;
  }

  .flash-sale__timeline-info {
    bottom: 35%;
    left: 7%;
    width: 40%;
    height: 60%;
  }

  .flash-sale__timeline-info--day {
    font-size: 12px;
    line-height: 12px;
  }

  .flash-sale__timeline-info--day br {
    display: inline;
  }

  .flash-sale__timeline-info-hour {
    font-size: 10px;
    line-height: 14px;
  }

  .flash-sale__timeline-info-hour > span {
    border-radius: 5px;
    border: 4px solid #18acff;
  }

  .flash-sale-today-nextday {
    right: 5%;
    bottom: 5%;
    width: 90%;
    height: 25%;
  }

  .flash-sale-today-nextday #flash-sale-today,
  .flash-sale-today-nextday #flash-sale-nextday {
    border-radius: 3px;
    font-size: 10px;
  }

  .flash-sale__slideshow {
    height: 580px;
    padding: 10px;
  }

  .flash-sale__card-list {
    overflow-x: scroll;
  }

  .flash-sale__card {
    min-width: 125px;
    height: 49%;
    margin-right: 10px;
    padding: 1% 1% 2%;
    border-radius: 7px;
    position: relative;
  }

  .flash-sale__card a {
    align-items: center;
  }

  .flash-sale-card__display {
    width: 100%;
    margin-top: 10%;
    flex: 3;
  }

  .flash-sale__slide-buttons {
    display: none;
  }

  /* TUẦN LỄ SAMSUNG */
  .samsung-week {
    height: 63rem;
    padding: 0 1.5rem;
    margin: 2rem auto;
    background-color: #0b37f4;
    border-radius: 1.5rem;
  }

  .samsung-week > p {
    height: 5%;
    padding: 1.5rem 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
  }

  .samsung-week__banner-slideshow {
    width: 100%;
    height: 19.5%;
    margin-bottom: 15px;
    position: relative;
    z-index: 120;
  }

  .samsung-week-slideshow__banners {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.25%;
    overflow: hidden;
  }

  .samsung-week-slideshow__banners a {
    display: block;
    min-width: 100%;
    /* margin-right: 0.5%; */
    height: 100%;
  }

  .samsung-week-slideshow__banners img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* margin-right: 10px; */
    object-fit: fill;
  }

  .samsung-week-banner__buttons {
    display: none;
  }

  .samsung-week > button {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    background-color: #fbfbfb;
    margin: 1.5rem auto;
    border-radius: 10px;
    border: none;
  }

  .samsung-week__card-slideshow {
    width: 100%;
    height: 55.5%;
    position: relative;
    /* overflow-x: scroll; */
  }

  .samsung-week-card__buttons {
    display: none;
  }

  .samsung-week__card-list {
    height: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    gap: 3%;
    overflow-x: scroll;
  }

  .samsung-week__card {
    min-width: 46%;
    padding: 10px;
    height: 100%;
    /* margin-right: 1.25%; */
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .samsung-week__card-list a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .samsung-week__product-card-payment {
    width: max-content;
    height: 1.7rem;
    margin-bottom: 1rem;
  }

  .samsung-week__installment {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 11px;
    line-height: 12px;
    color: #333333;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
  }

  .samsung-week__product {
    width: 100%;
    height: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    transition: 1s;
  }

  .samsung-week__discount-label--pink {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    background: var(--discount-label-pink-background);
    border-radius: 10px;
    padding-right: 10px;
    color: #fff;
    text-transform: uppercase;
  }

  .samsung-week__discount-label--blue {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: var(--discount-label-blue-background);
    border-radius: 10px;
    padding-right: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .samsung-week__discount-label--pink img,
  .samsung-week__discount-label--blue img {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    object-fit: cover;
  }

  .samsung-week__discount-label--pink span,
  .samsung-week__discount-label--blue span {
    vertical-align: middle;
    line-height: normal;
  }
  .samsung-week__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .samsung-week__label {
    display: block;
    width: 35%;
    height: 45px;
    object-fit: fill;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .samsung-week__name {
    font-size: var(--product-card-name-font-size);
    color: #333;
    /* margin-top: 10px; */
    margin-bottom: 15px;
  }

  .samsung-week__card:hover .samsung-week__name {
    color: #288ad6;
  }

  .samsung-week__product:hover {
    transform: translateY(-7px);
  }

  .samsung-week__price {
    font-size: 14px;
    line-height: 18px;
    color: var(--current-price-color);
    font-weight: bold;
  }

  .samsung-week__price span {
    font-size: 12px;
    line-height: 16px;
    color: #eb5757;
    background-color: #fff0e9;
    margin-left: 1rem;
  }

  .samsung-week__star-vote {
    font-size: 12px;
    line-height: 18px;
    color: #fb6e2e;
    font-weight: bold;
  }

  .samsung-week__star-vote i {
    font-size: 1.2rem;
  }
  .samsung-week__star-vote span {
    font-weight: 500;
    color: #999999;
  }

  .samsung-week__online-price-label {
    display: inline-flex;
    align-items: center;
  }

  .samsung-week__online-price-label img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
  }

  .samsung-week__online-price-label span {
    font-size: 14px;
    color: #666666;
  }

  .samsung-week__gift {
    font-size: 12px;
    color: #666666;
  }

  .featured-category__list {
    width: 1000px;
  }

  .featured-category__list a img {
    width: 50%;
  }

  .featured-category__list a h3 {
    width: 90%;
  }

  .convenient-service {
    margin-top: 1rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .convenient-service__title h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .convenient-service__title a {
    font-size: 14px;
    text-transform: initial;
  }

  .convenient-service__list {
    margin-top: 0.5rem;
    padding: 0.1rem;
  }

  .convenient-service__list li p {
    line-height: 15px;
  }

  .convenient-service__list li div {
    width: 20%;
    aspect-ratio: 1;
  }

  .convenient-service__list li a {
    width: 75%;
  }

  .convenient-service__list li div i {
    font-size: 10px;
  }

  .convenient-service__list li a p:nth-child(2) {
    margin-top: 1rem;
  }

  /* 24H CÔNG NGHỆ */
  .technology-24h {
    border-radius: 0.5rem;
  }

  .technology-24h--main ul li a img {
    width: 40%;
  }

  .technology-24h--main ul li a p {
    width: 55%;
    -webkit-line-clamp: 4;
  }

  /* AVA KIDS */
  .ava-kids {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 37.2rem;
    padding: 0.5rem;
    margin-top: 2rem;
  }

  .ava-kids__head {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 26%;
  }

  a.ava-kids__logo {
    display: block;
    width: 40%;
    height: 70%;
  }

  .ava-kids__free-ship {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
  }

  .ava-kids__see-more {
    display: none;
  }

  .ava-kids__logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .ava-kids__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73%;
  }

  .ava-kids__input-form {
    min-width: 41%;
    padding: 0.5rem;
    /* height: 100%;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #fefcec;
      border-radius: 0.5rem; */
  }

  .ava-kids__input-form p:nth-child(1) {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-weight: bold;
    color: #ed1164;
  }

  .ava-kids__input-form p span {
    font-weight: lighter;
  }

  .ava-kids__input-form form {
    height: 47%;
    display: flex;
    flex-direction: column;
    gap: 3.3%;
  }

  /* .ava-kids__input-form form input {
      height: 30%;
      border: solid 1px #bdbdbd;
      border-radius: 0.5rem;
    } */

  .ava-kids__input-form form input:nth-child(1),
  .ava-kids__input-form form input:nth-child(2) {
    font-size: 1.2rem;
    padding: 0.3rem;
  }

  .ava-kids__input-form form input:last-child {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #ffffff;
    background-color: #bdbdbd;
  }

  .ava-kids__input-form ul {
    list-style-type: none;
  }

  .ava-kids__input-form ul li {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #555555;
  }

  .ava-kids__banner-list--layout {
    width: 58%;
    overflow-x: scroll;
  }
  .ava-kids__banner-list {
    gap: 1.5%;
  }
  .ava-kids__banner-list a {
    display: block;
    min-width: 66%;
    height: 100%;
  }

  /* FOOTER */
  footer {
    width: 100%;
    margin: 1rem auto 0 auto;
    margin-top: 1rem;
    border-top: none;
    background-color: #f3f3f3;
  }

  footer a {
    text-decoration: none;
  }

  .footer__contents {
    height: 75%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
  }

  .business-license {
    display: flex;
    height: 30%;
  }

  .business-license a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .business-license a img {
    display: block;
    height: 100%;
    width: 20%;
    object-fit: fill;
  }

  .footer__contents .policy,
  .footer__contents .company {
    display: none;
  }

  .footer__contents .contact {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer__copyright {
    width: 100%;
    height: 148px;
    background-color: #f1f1f1;
  }

  .contact span,
  .information-discount--on-tablet-mobile > a,
  .information-discount--on-tablet-mobile p,
  .social-channel,
  .subsidiaries {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.8rem 0;
  }

  .contact span a {
    font-weight: bold;
  }

  .information-discount--on-tablet-mobile {
    display: block;
    width: 100%;
  }

  .information-discount--on-tablet-mobile > a {
    display: block;
    color: #2f80ed;
    line-height: 2.1rem;
    font-size: 1.4rem;
  }

  .information-discount--on-tablet-mobile p {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .information-discount--on-tablet-mobile p i {
    display: inline-block;
    margin-left: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .other-information {
    height: max-content;
    width: 100%;
  }

  .other-information ul {
    display: none;
  }

  .other-information ul.active {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    margin: 0;
    padding: 1rem 1.5rem;
    background-color: #dbdbdb;
    border-radius: 5px;
  }

  /* .other-information.active {
    height: 43rem;
    width: 100%;
  } */

  /* .other-information.active ul {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    margin: 0;
    padding: 1rem 1.5rem;
    background-color: #dbdbdb;
    border-radius: 5px;
  } */

  .other-information ul li {
    /* padding: 0; */
    width: 44.5%;
    margin-left: auto;
    margin-right: auto;
  }

  .other-information ul li a {
    display: block;
    max-width: 100%;
    /* max-width: 175px; */
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding: 3px 0;
    color: #000;
    word-spacing: 1px;
  }

  .footer__contents .corporate-promotion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .social-channel {
    width: 100%;
    height: 3.6rem;
    background-color: white;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .social-channel a {
    width: fit-content;
    height: 100%;
    display: inline-flex;
    /* justify-content: space-between; */
    color: #2f80ed;
    align-items: center;
    gap: 0.3rem;
  }

  .social-channel a > i {
    font-size: 1.4rem;
    margin-right: 2px;
  }

  .social-channel a i.bxl-youtube {
    color: #e12525;
  }

  .social-channel img {
    margin-right: 2px;
    width: 13px;
    height: 13px;
    object-fit: cover;
  }

  .business-license {
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: space-between;
    background-color: white;
    order: 3;
  }

  .business-license a {
    display: block;
    height: 100%;
  }

  .business-license a:nth-child(1) {
    width: 20%;
  }
  .business-license a:nth-child(2) {
    width: 10%;
  }
  .business-license a:nth-child(3) {
    width: 35%;
  }
  .business-license a:nth-child(4) {
    width: 22%;
  }

  .business-license a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .TGDD_group {
    order: 2;
  }

  .TGDD_group span {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #000;
  }

  .TGDD_group ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .TGDD_group ul a {
    width: 24%;
    margin-right: 0;
  }

  .summary-TGDD {
    background-color: #dbdbdb;
  }

  .summary-TGDD p {
    padding: 0 1rem;
    margin: 10px 0;
    font-size: 10px;
    line-height: 16px;
  }

  .summary-TGDD p br:nth-child(1),
  .summary-TGDD p br:nth-child(3) {
    display: inline;
  }

  .summary-TGDD p span {
    display: none;
  }
}
