/* MAIN */
main {
  position: relative;
  z-index: 99;
  background-color: #f4f6f9;
}

.look_up_order_info_page {
  /* width: 1200px; */
  height: max-content;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
}

.left_image {
  width: 540px;
  height: 270px;
  margin-right: 50px;
}

.look_up_order_info_form {
  width: 500px;
  height: 369px;
  padding: 60px;
  background-color: #ffffff;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.look_up_order_info_form label {
  width: 302px;
  height: 36px;
  margin: 15px auto;
  font-size: 24px;
  color: #848282;
  font-weight: 100;
}

.look_up_order_info_form > i {
  font-size: 20px;
  position: absolute;
  top: 153px;
  left: 120px;
}

.look_up_order_info_form input {
  width: 302px;
  height: 48px;
  padding: 10px 40px;
  border: 1px solid gray;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 15px auto;
}

.look_up_order_info_form button {
  width: 302px;
  height: 50px;
  margin: 0 auto;
  background-color: #f96f3a;
  border-radius: 25px;
  border: none;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 17px;
}
