/********    MAIN     *****/
main {
  position: relative;
  background-color: #ffffff;
  z-index: 99;
}

/* TOP SLIDESHOW BANNERS */
.promotion {
  height: 200px;
  margin: 1.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.promotion__slideshow {
  width: 66%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.promotion-slideshow__buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  z-index: 100;
}

.promotion__slideshow:hover > .promotion-slideshow__buttons {
  opacity: 1;
}

#promotion-slideshow__prev-btn {
  background-color: #f1f1f1;
  width: 30px;
  height: 60px;
  position: relative;
  border-radius: 5px;
}

#promotion-slideshow__next-sign {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  transform: rotate(45deg);
  top: 19px;
  left: -5px;
}

#promotion-slideshow__next-btn {
  background-color: #f1f1f1;
  width: 30px;
  height: 60px;
  position: relative;
  border-radius: 5px;
}

#promotion-slideshow__prev-sign {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid gray;
  border-left: 3px solid gray;
  transform: rotate(-45deg);
  top: 19px;
  right: -5px;
}

.promotion-slideshow__banner-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition: 1s;
  /* overflow: hidden; */
}

.promotion-slideshow__banner-list a {
  display: block;
  min-width: 100%;
  height: 100%;
}

.promotion-slideshow__banner-list img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promotion__fixed-banner {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promotion__fixed-banner a {
  display: block;
  width: 100%;
  height: 48%;
  object-fit: cover;
}

.promotion__fixed-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FILTERS */

.cellphone-filters {
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.cellphone-filters--general {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.cellphone-filters__criteria-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.cellphone-filters--general button {
  width: max-content;
  height: 3.5rem;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.total-filter {
  position: relative;
  z-index: 10;
}

#totalFilterBtn {
  background-color: aqua;
}

.total-filter-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.4);
}

.total-filter-modal__content {
  position: absolute;
  left: 20%;
  top: 15%;
  /* z-index: 5; */
  background-color: #fefefe;

  /* margin: auto; */
  /* padding: 20px; */
  border: 1px solid #888;
  width: 60%;
  height: 70%;
  overflow-y: scroll;
}

button.close-modal {
  display: block;
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.total-filter__selected-criteria {
  height: max-content;
  padding: 2rem;
}

.total-filter__selected-criteria label {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2rem;
}

.total-filter__selected-criteria span {
  color: #3bacf0;
  font-size: 1.4rem;
  /* font-weight: bold; */
  line-height: 2rem;
}

.total-filter-modal__content-row1,
.total-filter-modal__content-row2,
.total-filter-modal__content-row3 {
  height: max-content;
  padding: 2rem;
  border-bottom: 1px solid #d3d3d3;
}

.total-filter-modal__content-row4 {
  height: max-content;
  padding: 2rem;
}

.total-filter-modal__content label {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
}

.total-filter-modal__brand-list,
.price-btn-list,
.cellphone-type-btn-list,
.need-btn-list,
.ram-btn-list,
.storage-capacity-btn-list,
.charging-btn-list,
.special-feature-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
  justify-content: start;
  align-items: center;
}

.price-range-accordion p {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #2493d7;
  cursor: pointer;
}

.price-range-accordion p i {
  margin-left: 0.4rem;
  padding-bottom: 0.6rem;
  transform: rotate(180deg);
}

.price-range-accordion.active {
  height: max-content;
}

.price-range-accordion.active p i {
  margin-left: 0.4rem;
  padding-bottom: 0.6rem;
  transform: none;
}

.price-range-accordion.active .price-range-slider {
  display: none;
}

.total-filter-modal__brand-list button {
  display: inline-block;
}

.total-filter-modal__brand-list img {
  display: block;
  width: 7.6rem;
  height: 2rem;
  object-fit: cover;
}

.total-filter-modal__content-row2,
.total-filter-modal__content-row3,
.total-filter-modal__content-row4 {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.total-filter-modal__prices,
.total-filter-modal__ram,
.total-filter-modal__special-feature {
  width: 32%;
}

/* -------------- */

.price-range-slider {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 1rem 0;
}

.price-limit-range {
  width: 100%;
  display: flex;
  margin: 0 0 1rem;
}

.price-limit-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-limit-range .field {
  width: 42.5%;
  height: 3rem;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-limit-range .separator {
  width: 15%;
  height: 0.1rem;
  background-color: #9a9898;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #4a90e2;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid #4a90e2;
  background: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid #4a90e2;
  background: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
}

/* -------------- */
.total-filter-modal__cellphone-types,
.total-filter-modal__storage-capacity {
  width: 28%;
}
.total-filter-modal__needs,
.total-filter-modal__charging {
  width: 32%;
}

.cellphone-type-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
}

.cellphone-type-btn-list button {
  display: block;
  padding: 1rem;
  width: max-content;
  height: max-content;
}

.cellphone-type-btn-list img {
  display: inline-block;
  width: 4rem;
  aspect-ratio: 1;
  object-fit: cover;
  align-items: center;
}

.cellphone-filters__criteria-list .criteria--dropdown {
  position: relative;
  height: max-content;
}

.criteria__content {
  display: none;
  width: 55rem;
  height: max-content;
  position: absolute;
  left: 0;
  top: 120%;
  z-index: 24;
  /* padding: 1rem; */
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
}

.criteria__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-style: solid;
  border-width: 0 0.8rem 0.8rem 0.8rem;
  border-color: transparent transparent #fff transparent;
  transform: translateY(-100%);
}

.criteria__content--showed {
  display: block;
}

.cellphone-filters-criteria__brand-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  margin: 1rem;
}

.cellphone-filters-criteria__brand-list button {
  display: inline-block;
}

.cellphone-filters-criteria__brand-list img {
  display: block;
  width: 7.6rem;
  height: 2rem;
  object-fit: cover;
}

.cellphone-filters-criteria__btn--final-decisions {
  width: 100%;
  padding: 2rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -3px 3px #dddcdc;
}

.cellphone-filters-criteria__btn--final-decisions button {
  display: block;
  width: 30%;
  cursor: pointer;
}

.cellphone-filters-criteria__btn--final-decisions button:first-child {
  color: #e83a45;
  border: 1px solid #e83a45;
}
.cellphone-filters-criteria__btn--final-decisions button:last-child {
  color: #fff;
  border: 1px solid #288ad6;
  background-color: #288ad6;
}
.cellphone-filters__criteria-list i {
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  vertical-align: middle;
}

.cellphone-filters--brands {
  width: 100%;
}

.cellphone-brand-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.cellphone-brand-list a {
  display: block;
  width: fit-content;
  height: 3.5rem;
  border: 1px solid gray;
  border-radius: 2.5rem;
  padding: 0.8rem 1.35rem;
}

.cellphone-brand-list img {
  display: block;
  width: 9.2rem;
  height: 2rem;
  object-fit: cover;
}

.cellphone-filters--needs p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.needs-filter__list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.needs-filter__list li {
  width: max-content;
  height: 3.5rem;
  padding: 0 1rem;
  line-height: 3.5rem;
  border: 1px solid gray;
  border-radius: 2.5rem;
}

.needs-filter__list li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
}

.cellphone-filters--extended {
  width: 100%;
  position: relative;
}

.select-filters--checkbox {
  position: absolute;
  width: 55%;
  height: 2.7rem;
  left: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.select-filters--checkbox span {
  width: max-content;
}

.select-filters--checkbox span input {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
}

.select-filters--checkbox span label {
  width: max-content;
}

.select-filters--checkbox span:nth-child(1) {
  width: 136px;
  height: 27px;
  padding: 0 5px;
  background-color: #e1f2e8;
  border-radius: 5px;
  color: #219653;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  display: flex;
  align-items: center;
}

.select-filters--checkbox span:nth-child(n + 2) {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.select-filter__arrange {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-filter__arrange label {
  font-size: 1.4rem;
  font-weight: bold;
}

.arrange-box--sorted-by {
  width: 10%;
  height: 2.7rem;
  line-height: 2.7rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
}

.select-filter__arrange i {
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
  vertical-align: middle;
}

.total-filter-modal__btn--final-decision {
  width: 100%;
  height: max-content;
  padding: 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 -5px 5px #d3d3d3;
  position: sticky;
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.total-filter-modal__btn--final-decision button {
  display: block;
  width: 18%;
  cursor: pointer;
}

.total-filter-modal__btn--final-decision button:first-child {
  color: #e83a45;
  border: 1px solid #e83a45;
  /* background-color: #288ad6; */
}
.total-filter-modal__btn--final-decision button:last-child {
  color: #fff;
  border: 1px solid #288ad6;
  background-color: #288ad6;
}

.criteria-btn--showed-dropdown {
  border: 1px solid #288ad6;
}

/* CELLPHONE LIST */
.cellphone-list {
  display: flex;
  flex-wrap: wrap;
}

.cellphone-card {
  padding: 10px 10px 30px 10px;
  width: 20%;
  height: 600px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cellphone-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #9a9898;
}

.cellphone-card__installment {
  width: 63px;
  height: 18px;
  margin-bottom: 20px;
}

.cellphone-card__installment span {
  padding: 3px 3px;
  font-size: 11px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 3px;
}

.cellphone-card a {
  text-decoration: none;
}

.cellphone-card li {
  list-style-type: none;
}

.cellphone-card__demo {
  width: 209px;
  height: 225px;
  position: relative;
  margin-bottom: 5px;
  transition: 1s;
}

.cellphone-card__demo:hover {
  transform: translateY(-10px);
}

.cellphone-card__demo img:nth-child(1) {
  width: 209px;
  height: 209px;
}

.cellphone-card__demo img:nth-child(2) {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cellphone-card__discount-type--pink {
  display: inline-block;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
  background: linear-gradient(to right, #e91f63, #db2663);
  color: #fff;
  border-radius: 15px;
  margin-bottom: 5px;
}

.cellphone-card__discount-type--pink > img {
  width: 20px;
  height: 20px;
  float: left;
  object-fit: cover;
}

.cellphone-card__discount-type--pink span {
  margin-left: 3px;
  vertical-align: middle;
  text-transform: uppercase;
}

.cellphone-card__discount-type--red {
  display: inline-block;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
  background: linear-gradient(to right, #ef3006, #c60004);
  color: #fff;
  border-radius: 15px;
  margin-bottom: 5px;
}

.cellphone-card__discount-type--red > img {
  width: 20px;
  height: 20px;
  float: left;
  object-fit: cover;
}

.cellphone-card__discount-type--red span {
  margin-left: 3px;
  vertical-align: middle;
  text-transform: uppercase;
}
.cellphone-card__discount-type--blue {
  display: inline-block;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
  background: linear-gradient(to right, #3bacf0, #1b6dc1);
  color: #fff;
  border-radius: 15px;
  margin-bottom: 5px;
}
.cellphone-card__discount-type--blue > img {
  width: 20px;
  height: 20px;
  float: left;
  object-fit: cover;
}

.cellphone-card__discount-type--blue span {
  margin-left: 3px;
  vertical-align: middle;
  text-transform: uppercase;
}

.cellphone-card__name {
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

.cellphone-card__name:hover {
  color: #288ad6;
}

.cellphone-card__screen-camera {
  margin-bottom: 5px;
}

.cellphone-card__screen-camera span {
  display: inline-block;
  padding: 4px;
  background-color: #eaeaea;
  color: #333;
  font-size: 12px;
  margin-bottom: 3px;
}

.cellphone-card__memory {
  margin-bottom: 5px;
}

.cellphone-card__memory span {
  display: inline-block;
  padding: 4px;
  background-color: #fffdfd;
  border: 1px solid gray;
  border-radius: 5px;
  color: #333;
  font-size: 12px;
  margin-bottom: 3px;
}

.cellphone-card__memory span:hover {
  color: #288ad6;
  border: 1px solid #288ad6;
}

.cellphone-card__online-tag {
  display: inline-block;
  margin-bottom: 5px;
}

.cellphone-card__online-tag img {
  float: left;
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.cellphone-card__online-tag span {
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #333;
  margin-left: 3px;
}

.cellphone-card__original-price {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.cellphone-card__original-price span:first-child {
  text-decoration: line-through;
  margin-right: 5px;
}

.cellphone-card__special-price {
  display: inline-block;
  align-items: center;
  margin-bottom: 5px;
}

.cellphone-card__special-price img {
  float: left;
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 3px;
}

.cellphone-card__special-price span {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #333;
}

.cellphone-card__price {
  color: #e83a45;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.cellphone-card__star-rate {
  display: flex;
  /* justify-content; */
  margin-bottom: 5px;
}

.cellphone-card__star-rate i {
  color: darkorange;
  font-size: 12px;
  margin-right: 2px;
}

.cellphone-card__star-rate span {
  color: #9a9898;
  font-size: 12px;
}

.cellphone-card__compare {
  display: inline-block;
  align-items: center;
  margin-bottom: 5px;
}

.cellphone-card__compare img {
  float: left;
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 3px;
}

.cellphone-card__compare span {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #288ad6;
}

/* SEE MORE */

.see-more-cellphone-button {
  width: 340px;
  height: 42px;
  line-height: 42px;
  margin: 20px auto;
  font-size: 14px;
  text-align: center;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.see-more-cellphone-button i {
  margin-bottom: 5px;
  vertical-align: middle;
}

.see-more-cellphone-button:hover {
  border: none;
  color: #fff;
  background-color: #288ad6;
}
