main {
  background-color: #f1f1f1;
}

.top1-slideshow--all-laptops-page {
  height: 30rem;
  position: relative;
  background-color: #f1f1f1;
  margin: 1.5rem auto;
}

.top1-slideshow__banner-list {
  display: flex;
  overflow: hidden;
}

.top1-slideshow__banner-list a {
  display: block;
  min-width: 100%;
  height: 100%;
}

.top1-slideshow__banner-list a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top1-slideshow__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.top1-slideshow__prev-btn,
.top1-slideshow__next-btn {
  position: relative;
  width: 3rem;
  height: 50px;
  background-color: #989898;
  border-radius: 0.5rem;
  opacity: 1;
}

.top1-slideshow--all-laptops-page:hover .top1-slideshow__prev-btn,
.top1-slideshow--all-laptops-page:hover .top1-slideshow__next-btn {
  background-color: #8b8b8b;
  opacity: 0.7;
}

.top1-slideshow__prev-btn .prev-sign,
.top1-slideshow__next-btn .next-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
}

.top1-slideshow__prev-btn .prev-sign {
  transform: translate(-25%, -50%) rotate(-45deg);
  border-top: 3px solid #0f0f0f;
  border-left: 3px solid #0f0f0f;
}

.top1-slideshow__next-btn .next-sign {
  border-top: 3px solid #0f0f0f;
  border-right: 3px solid #0f0f0f;
  transform: translate(-75%, -50%) rotate(45deg);
}

.top1-slideshow__signs {
  width: 10%;
  height: 2%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  justify-content: space-between;
}

.top1-slideshow__signs span {
  display: inline-block;
  width: 6%;
  height: 100%;
  background-color: #d6d5d5;
  border-radius: 0.5rem;
}

.laptop-brands {
  height: 11.8rem;
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

.laptop-brands ul {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  height: 100%;
  list-style-type: none;
}

.laptop-brands ul li {
  width: 11%;
  height: 40%;
  margin-right: 1.5%;
}

.laptop-brands ul li a {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 2rem;
  transition: 0.1s;
}

.laptop-brands ul li a:hover {
  border: 2px solid #288ad6;
}

.laptop-brands ul li a img {
  display: block;
  width: 75%;
  height: 85%;
  object-fit: contain;
}

.laptop-menu--top {
  height: 11rem;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 100;
}

.laptop-menu--top ul {
  display: flex;
  height: 100%;
}

.laptop-menu--top ul li {
  width: 12.5%;
  height: 100%;
}

.laptop-menu--top ul li a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 100%;
  min-height: 100%;
}

.laptop-menu--top ul li a:hover > .laptop-menu__icon-frame {
  background-color: gold;
}

.laptop-menu__icon-frame {
  width: 37%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.laptop-menu__icon-frame i {
  font-size: 35px;
  color: #000000;
}

.laptop-menu--top ul li a p {
  font-size: 14px;
  line-height: 17px;
  padding: 1rem 0 0 0;
  color: #ffffff;
}

.software {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

.software__banner {
  display: block;
  min-width: 100%;
  height: 20rem;
}

.software__banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.software__card-list {
  display: flex;
  width: 100%;
  height: max-content;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.75%;
  row-gap: 1rem;
}

.software__card-list li {
  width: 19.4%;
  min-height: max-content;
  background-color: #ffffff;
}

.software__card {
  display: flex;
  min-width: 100%;
  height: max-content;
  padding: 3rem 1.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  row-gap: 1rem;
}

.software__card > img {
  display: block;
  width: 100%;
  height: 20.3rem;
  object-fit: cover;
  transition: 1s;
}

.software__card:hover > img {
  transform: translateY(-1rem);
}

.software__name {
  color: #333;
  font-size: 14px;
  /* margin-bottom: 5px; */
}

.software__card:hover > .software__name {
  color: #288ad6;
}

.software__shelf-life {
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}

.software__shelf-life span {
  border: 1px solid #a5a5a5;
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}

.software__sale-off {
  font-size: 14px;
  color: #606060;
}

.software__sale-off span:first-child {
  text-decoration: line-through;
  margin-right: 5px;
}

.software__price {
  color: #e83a45;
  font-size: 16px;
  font-weight: 700;
}

.software__star-rate {
  display: flex;
}

.software__star-rate i {
  color: darkorange;
  font-size: 12px;
  margin-right: 2px;
}

.software__star-rate span {
  color: #9a9898;
  font-size: 12px;
}

.software__language {
  margin-bottom: -1rem;
}

.software__language,
.software__uses {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #222222;
  /* margin-bottom: -1rem; */
}

.software__comparison--add {
  display: inline-block;
  align-items: center;
  margin-bottom: 5px;
}

.software__comparison--add img {
  float: left;
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 3px;
}

.software__comparison--add span {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #288ad6;
}

.software__comparison--remove {
  display: none;
  align-items: center;
  margin-bottom: 5px;
}

.software__comparison--remove img {
  float: left;
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 3px;
}

.software__comparison--remove span {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #288ad6;
}

.see-all-btn--all-laptops-page {
  display: inline-flex;
  min-width: 30%;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 1rem;
}
